<%- include('partials/head'); -%>
<h1><%= flag %></h1>
<%- include('partials/memes'); -%>
<h1><%= message %></h1>
<h3><%= extra %></h3>
<%- include('partials/back'); -%>
<%- include('partials/footer'); -%>